#CancelButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 0 16 16 0;
    -fx-border-radius: 0 16 16 0;
}

#CloseLabel {
    -fx-alignment: CENTER;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-font-size: 11;
    -fx-font-weight: BOLD;
}

#CloseLabel:hover {
    -fx-background-color: #a7fafa;
}

#CloseLabel:pressed {
    -fx-background-color: #2ed2ff;
    -fx-text-fill: WHITE;
}

#GoBackButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16 16 0 0;
    -fx-border-radius: 16 16 0 0;
}

#MainMenuActionPane {
    -fx-border-color: #2ed2ff;
    -fx-border-radius: 10;
    -fx-border-width: 0 1.5 0 1.5;
}

#MainMenuActionPaneMainListView {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-border-color: #2ed2ff;
    -fx-border-radius: 10;
    -fx-border-width: 0 0 0 1.5;
}

#MainMenuActionPaneMainListView .list-cell {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-focus-traversable: false;
    -fx-padding: 1;
}

#MainMenuActionPanePrescriptionListView {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-border-color: #2ed2ff;
    -fx-border-radius: 10;
    -fx-border-width: 0 1.5 0 0;
}

#MainMenuActionPanePrescriptionListView .list-cell {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-focus-traversable: false;
    -fx-padding: 1;
}

#MainMenuActionPaneTestResultListView {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #2ed2ff;
    -fx-border-radius: 10;
    -fx-border-width: 0 1.5 0 0;
}

#MainMenuActionPaneTestResultListView .list-cell {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    -fx-focus-traversable: false;
    -fx-padding: 1;
}

#MainMenuAppointmentListButton {
    -fx-background-radius: 16 0 0 16;
    -fx-text-fill: #464646;
}

#MainMenuComposeButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
}

#MainMenuMyProfileButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuPrescriptionButton {
    -fx-background-radius: 16 0 0 16;
    -fx-text-fill: #464646;
}

#MainMenuSetAppointmentButton {
    -fx-background-radius: 16 0 0 16;
    -fx-text-fill: #464646;
}

#MainMenuTestResultButton {
    -fx-background-radius: 16 0 0 16;
    -fx-text-fill: #464646;
}

#MainMenuSignOutButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MinimizeLabel {
    -fx-alignment: CENTER;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    /*-fx-border-color: #a7fafa;*/
    /*-fx-border-radius: 10;*/
    /*-fx-border-width: 1;*/
    -fx-font-size: 11;
    -fx-font-weight: BOLD;
}

#MinimizeLabel:hover {
    -fx-background-color: #a7fafa;
}

#MinimizeLabel:pressed {
    -fx-background-color: #2ed2ff;
    /*-fx-border-color: #2ed2ff;*/
    -fx-text-fill: WHITE;
}

#RefreshButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 0 0 16 16;
    -fx-border-radius: 0 0 16 16;
}

#SignInForgotPasswordHyperlink:hover {
    -fx-text-fill: #2ed2ff;
}

#SignInLoginButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignInNotifyLabel {
    -fx-text-alignment: CENTER;
    -fx-text-fill: RED;
}

#SignInSignInPane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignInSignUpButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignUpSignUpButton {
    -fx-background-radius: 16 0 0 16;
    -fx-background-color: #2ed2ff;
    -fx-border-radius: 16 0 0 16;
}

#SignUpSignUpPane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignUpUsername {
    -fx-focus-traversable: TRUE;
}

#UserProfileAddressLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileAddressInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileAgeLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileAgeInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileChangePicButton {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-font-size: 12;
    -fx-text-fill: #464646;
}

#UserProfileChangePicButton:hover {
    -fx-text-fill: #2ed2ff;
}

#UserProfileContactNoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileContactNoInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileEmailLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileEmailInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileNameLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileNameInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileUsernameLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileUsernameInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#WritingChooseFileButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 0 0 16 0;
    -fx-border-radius: 0 0 16 0;
}

#WritingChooseFileLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 0 0 16;
    -fx-border-radius: 0 0 0 16;
    -fx-padding: 0 0 0 10;
}

#WritingCredentialsPane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 16 0 0 0;
    -fx-border-radius: 16 0 0 0;
}

#WritingSendButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16 0 0 16;
    -fx-border-radius: 16 0 0 16;
}

#WritingWriteHerePane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 16 0 0;
    -fx-border-radius: 0 16 0 0;
    -fx-padding: 30 0 0 10;
    -fx-text-fill: #464646;
}

.jfx-radio-button {
    -jfx-selected-color: #2ed2ff;
}

.root {
    -fx-background-color: #f0ffff;
}

