#CloseLabel {
    -fx-alignment: CENTER;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    /*-fx-border-color: #a7fafa;*/
    /*-fx-border-radius: 10;*/
    /*-fx-border-width: 1;*/
    -fx-font-size: 11;
    -fx-font-weight: BOLD;
    -fx-pref-height: 16;
    -fx-pref-width: 16;
}

#CloseLabel:hover {
    -fx-background-color: #a7fafa;
}

#CloseLabel:pressed {
    -fx-background-color: #2ed2ff;
    /*-fx-border-color: #2ed2ff;*/
    -fx-text-fill: WHITE;
}

#MainMenuAppointmentListButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuMyProfileButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuPatientSetAppointmentButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuPrescriptionButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuTestResultButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MainMenuSignOutButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#MinimizeLabel {
    -fx-alignment: CENTER;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 10;
    /*-fx-border-color: #a7fafa;*/
    /*-fx-border-radius: 10;*/
    /*-fx-border-width: 1;*/
    -fx-font-size: 11;
    -fx-font-weight: BOLD;
    -fx-pref-height: 16;
    -fx-pref-width: 16;
}

#MinimizeLabel:hover {
    -fx-background-color: #a7fafa;
}

#MinimizeLabel:pressed {
    -fx-background-color: #2ed2ff;
    /*-fx-border-color: #2ed2ff;*/
    -fx-text-fill: WHITE;
}

#SignInForgotPasswordHyperlink:hover {
    -fx-text-fill: #2ed2ff;
}

#SignInLoginButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignInNotifyLabel {
    -fx-text-alignment: CENTER;
    -fx-text-fill: RED;
}

#SignInSignInPane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignInSignUpButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignUpCancelButton {
    -fx-background-radius: 0 16 16 0;
    -fx-background-color: #2ed2ff;
    -fx-border-radius: 0 16 16 0;
}

#SignUpSignUpButton {
    -fx-background-radius: 16 0 0 16;
    -fx-background-color: #2ed2ff;
    -fx-border-radius: 16 0 0 16;
}

#SignUpSignUpPane {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#SignUpUsername {
    -fx-focus-traversable: TRUE;
}

#UserProfileAddressLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileAddressInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileAgeLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileAgeInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileChangePicButton {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-font-size: 12;
    -fx-text-fill: #464646;
}

#UserProfileChangePicButton:hover {
    -fx-text-fill: #2ed2ff;
}

#UserProfileContactNoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileContactNoInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileEmailLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileEmailInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileGoBackButton {
    -fx-background-color: #2ed2ff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#UserProfileGoBackButton:pressed {

}

#UserProfileNameLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileNameInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

#UserProfileUsernameLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 10 0 0 10;
}

#UserProfileUsernameInfoLabel {
    -fx-background-color: #a7fafa;
    -fx-background-radius: 0 10 10 0;
}

.jfx-radio-button {
    -jfx-selected-color: #2ed2ff;
}

.root {
    -fx-background-color: #f0ffff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

